---
import { DOWNLOAD_URL } from "../data/site";
import Icon from "./icons.astro";
---

<nav class="nz-nav">
  <a class="nz-nav-brand" href="#top">
    <img src="/notez-logo.svg" alt="" />
    <span>NoteZ</span>
  </a>
  <div class="nz-nav-links">
    <a href="#performance">Performance</a>
    <a href="#features">Features</a>
    <a href="#faq">FAQ</a>
  </div>
  <a class="nz-nav-cta" href={DOWNLOAD_URL}>
    Download <Icon name="arrow" />
  </a>
</nav>
