---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Tour from "../components/Tour.astro";
import Promises from "../components/Promises.astro";
import SyncTeaser from "../components/SyncTeaser.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Features />
    <Tour />
    <Promises />
    <SyncTeaser />
    <FinalCTA />
  </main>
  <Footer />
</Base>
