---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ScreenshotShowcase from "../components/ScreenshotShowcase.astro";
import PerfManifesto from "../components/PerfManifesto.astro";
import FeatureGrid from "../components/FeatureGrid.astro";
import PerfPillar from "../components/PerfPillar.astro";
import FAQ from "../components/FAQ.astro";
import OSS from "../components/OSS.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <div class="nz-page">
    <Nav />
    <Hero />
    <ScreenshotShowcase />
    <PerfManifesto />
    <FeatureGrid />
    <PerfPillar />
    <FAQ />
    <OSS />
    <Footer />
  </div>
</Base>
